// @file _variables.scss
//  Contains base variables & such for stylesheets. Loads mixins.

// Misc Defaults
$speed: 200ms;
$default-bg: transparent no-repeat top left;
$default-shadow: 0px 21px 25px -20px;

//
// Breakpoints
//

$bp-mobile: 460px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-huge: 1824px;
$bp-hidpi: 2ppx;


//
// Fonts
//

$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-mono: "SF Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

$font-heading: 'Pontano Sans', sans-serif;
$font-primary: 'Lora', serif;
$font-content: $font-primary;


$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-base: 16px;
$font-size-h1: 2.25em;
$font-size-h2: 1.75em;
$font-size-h3: 1.25em;
$font-size-h4: 1em;
$font-size-h5: 0.9em;
$font-size-h6: 0.75em;

// Used in global partial for @each loop.
$headings: (h1 $font-size-h1) (h2 $font-size-h2) (h3 $font-size-h3) (h4 $font-size-h4) (h5 $font-size-h5) (h6 $font-size-h6);

//
// Colors
//

$black: #000000;
$white: #FFFFFF;

$gray-dark: #191b27;
$gray-medium: rgb(126, 126, 126);
$gray-light2: rgb(194, 194, 210);
$gray-light: rgb(232, 232, 232);

$color-background: $white;
$color-text: #000627;
$color-text-light: $gray-medium;
$color-border: $gray-light;
$color-accent: #2870bb;

$spacing-unit: 1rem;
$container-width: 1200px;
$content-width: 1200px;

@import 'mixins';
@import 'placeholders';
